In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2021-10-08 03:01:23,41.3712,-73.4140,62.65,92,23,0.87
1,1,Nikolskoye,RU,2021-10-08 03:01:23,59.7035,30.7861,50.88,67,100,6.42
2,2,Taltal,CL,2021-10-08 03:01:23,-25.4000,-70.4833,57.18,82,100,4.29
3,3,Guerrero,MX,2021-10-08 03:01:24,17.6667,-100.0000,67.03,92,85,2.71
4,4,Georgetown,MY,2021-10-08 03:01:24,5.4112,100.3354,84.13,84,20,1.01

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Georgetown,MY,2021-10-08 03:01:24,5.4112,100.3354,84.13,84,20,1.01
8,8,Pauini,BR,2021-10-08 03:01:26,-7.7136,-66.9764,79.61,71,85,1.54
13,13,Faanui,PF,2021-10-08 03:01:27,-16.4833,-151.7500,79.03,71,9,6.53
16,16,Luwuk,ID,2021-10-08 03:01:28,-0.9516,122.7875,87.49,62,31,5.91
17,17,Matara,LK,2021-10-08 03:01:29,5.9485,80.5353,81.82,80,100,9.42
22,22,Vaini,TO,2021-10-08 03:01:30,-21.2000,-175.2000,75.90,82,6,8.21
24,24,Cabo San Lucas,MX,2021-10-08 03:01:31,22.8909,-109.9124,85.60,71,0,5.41
34,34,Atuona,PF,2021-10-08 03:01:36,-9.8000,-139.0333,77.83,78,24,15.93
38,38,Airai,TL,2021-10-08 03:01:38,-8.9266,125.4092,83.07,26,44,5.91
39,39,Mecca,SA,2021-10-08 03:01:27,21.4267,39.8261,83.52,36,2,2.71

In [15]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4       Georgetown      MY     84.13   5.4112  100.3354
8           Pauini      BR     79.61  -7.7136  -66.9764
13          Faanui      PF     79.03 -16.4833 -151.7500
16           Luwuk      ID     87.49  -0.9516  122.7875
17          Matara      LK     81.82   5.9485   80.5353
22           Vaini      TO     75.90 -21.2000 -175.2000
24  Cabo San Lucas      MX     85.60  22.8909 -109.9124
34          Atuona      PF     77.83  -9.8000 -139.0333
38           Airai      TL     83.07  -8.9266  125.4092
39           Mecca      SA     83.52  21.4267   39.8261

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
8,Pauini,BR,79.61,-7.7136,-66.9764,Casa do Kiwliks
13,Faanui,PF,79.03,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
16,Luwuk,ID,87.49,-0.9516,122.7875,Hotel Santika Luwuk
17,Matara,LK,81.82,5.9485,80.5353,Amaloh Boutique Resort
22,Vaini,TO,75.90,-21.2000,-175.2000,Keleti Beach Resort
24,Cabo San Lucas,MX,85.60,22.8909,-109.9124,Hotel Tesoro Los Cabos
34,Atuona,PF,77.83,-9.8000,-139.0333,Villa Enata
38,Airai,TL,83.07,-8.9266,125.4092,Juvinal Martin
39,Mecca,SA,83.52,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [1]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined